/*GENERAL*/
html {
  margin: 0;
  padding: 0;
}
div, section, figure, h2 {
  border: solid 1px black;
}

header {
  background-color: lightgrey;
}

/*HEADER*/

.NavPc {
  display: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*CONTAINER*/

.MainIndex {
  background-color: coral;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section {
  background: lightblue;
  width: 300px;
}

.freal1, .freal2, .freal3, .freal4, .freal5, .freal6 {
    display: flex;
    justify-content: space-around;
    width: auto;
    flex-wrap: wrap;
    margin: 5px;
    text-align: center;
}

.realisation {
  width: 100px;
}


h2 {
  text-align: center;
}

body {
  background-image: url(#);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.real1 {
  background: lightblue;
}

.real2 {
  background: lightgrey;
}

.real3 {
  background: yellow;
}

.real4 {
  background: blue;
}

.real5 {
  background: violet;
}

.real6 {
  background: pink;
}

/*FOOTER*/

footer {
  background-color: aquamarine;
  text-align: center;
}

/*TABLET*/

@media (min-width: 768px) {

.real5,.real6 {
  display: none;
}

}

/*DESKTOP*/

@media (min-width: 1024px){

/*HEADER*/

.NavMobile {
  display: none;
}

.NavPc {
  display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


/*CONTAINER*/

.real5,.real6 {
  display: block;
}


.real1 {
  background: lightblue;
  width: 25%;
}

.real2 {
  background: lightgrey;
  width: 25%;
}

.real3 {
  background: yellow;
  width: 25%;

}

.real4 {
  background: blue;
  width: 25%;
}

.real5 {
  background: violet;
  width: 25%;
}

.real6 {
  background: pink;
  width: 25%;
}
}
